@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

.privateFooter{
    min-height: 80px;
    display: flex;

    .items{
        display: inline-flex;
        padding-left: nth(nth($spacers, 6),2);
        flex-flow: row wrap;
        
        p{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: nth(nth($spacers, 6),2);
        }

        .link{
            text-decoration: none;
            color: $black;
        }
    }

    .end{
        display: flex;
        justify-content: end;

        .icon{
            display: flex;
            align-items: center;
            padding-right: nth(nth($spacers, 4),2);
        }

        .textLabel{
            display: flex;
        }

        span{
            display: flex;
            align-items: center;
        }
    }
}

.footerLeftArea{
    width: 78%;
    display: flex;
}

.footerLogoContainer{
    @extend .flex;
    flex-direction: column;
    justify-content: center;
    margin-left: nth(nth($spacers, 5),2);
}

.flex{
    display: flex;
    padding-right: nth(nth($spacers, 6),2);
    padding-left: nth(nth($spacers, 6),2);
}

.footerMobile{
    justify-content: center;
    display: none;
}

@media screen and (max-width: nth(nth($grid-breakpoints,4),2)){
    .footerDesktop{
      display: none;
    }
  
    .footerMobile{
      display: flex;
    }  
}