@import "node_modules/bootstrap/scss/functions";
@import '../scss/variables';

.link{
    &:hover{
        text-decoration: none;
    }
}

.benefitCard{
    position: relative;
    cursor: pointer;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}