
@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

.cardSwitch {
  display: flex;
  padding: nth(nth($spacers, 4), 2) nth(nth($spacers, 4), 2) nth(nth($spacers, 4), 2) nth(nth($spacers, 6), 2);

      
  .title{
    font-weight: bold;
    margin-bottom: nth(nth($spacers, 3), 2);
    svg{
      margin-right: nth(nth($spacers, 5), 2);
    }
  }

  .container{
    display: flex;
    flex-direction: column;
    padding-left: nth(nth($spacers, 6), 2);
  }

  .cardBody{
    flex: 1;
    font-size: 14px;
    align-self: center;

    strong{
      margin-right: nth(nth($spacers, 2), 2);
    }
  }

}