@import "node_modules/bootstrap/scss/functions";
@import '../../../scss/variables';

.inputLabel{
  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 8px;
  display: block;

  &.disabled{
    color: $disableColor;
  }
}
