@import "node_modules/bootstrap/scss/functions";
@import '../scss/variables';

@mixin colorsCreator($bgColor, $textColor){
  color: $textColor;
  background-color: $bgColor;

  .actionContainer button{
    color: $textColor;
  }
}

.message{
  border-radius: 4px;
  padding-left: nth(nth($spacers, 4), 2);
  padding-top: nth(nth($spacers, 3), 2);
  padding-bottom: nth(nth($spacers, 3), 2);
  padding-right: 187px;
  display: flex;
  position: relative;
  min-height: 48px;

  .closer{
    padding-top: nth(nth($spacers, 4), 2);
    padding-right: nth(nth($spacers, 4), 2);
    cursor: pointer;
  }

  .prefix{
    padding-top: nth(nth($spacers, 2), 2);
    padding-right: nth(nth($spacers, 4), 2);
  }

  .textContainer{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center; 

    .content{
      flex: 1;
      padding-top: nth(nth($spacers, 2), 2);
    }
  }

  .actionContainer{
    position: absolute;
    top: 0px;
    right: 0px;
    button{
      white-space: nowrap;
    }
  }

  &.error{
    @include colorsCreator($danger-05, $danger-50);
  }

  &.success{
    @include colorsCreator($success-05, $success-50);
  }

  &.info{
    @include colorsCreator($info-05, $info-50);
  }

  &.warning{
    @include colorsCreator($warning-05, $warning-50);
  }

  p{
    font-size: 14px;
    line-height: 24px;
  }

  @media screen and (max-width: nth(nth($grid-breakpoints,3),2)){
    flex-direction: column;
    padding-right: nth(nth($spacers, 4), 2);

    .actionContainer{
      position: relative;
    }
    .closer{
      padding: nth(nth($spacers, 3), 2) nth(nth($spacers, 6), 2);
    }

    .closer:after{
      content: 'Cerrar';
      font-family: "Ubuntu";
      font-size: 1rem;
      display: inline-flex;
      align-items: center;
    }
  }
}