@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

.cardContentContainer{
  padding-top: 16px;
  overflow-wrap: break-word;

  .cardHeaderTitle{
    padding-bottom: 16px;
  }

}
