@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

.cardActionsContainer{


  display: flex;
  padding-top: nth(nth($spacers, 2), 2);;

  .cardActionItem{

    flex: 1;
  }

}
