@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

.columnCardContentContainer{

  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  overflow-wrap: break-word;
  padding-right: nth(nth($spacers, 5), 2);
  box-sizing: border-box;

  .columnCardContentHeaderTitle{
    padding-bottom: nth(nth($spacers, 3), 2);
    font-weight: 500;
  }

  .columnCardContent{
    font-weight: 500;
  }

}
