@import "node_modules/bootstrap/scss/functions";
@import '../scss/variables';
@import '../scss/mixins/elevation';

.badgeNotificationContainer {

  min-height: 16px;
  padding-left: nth(nth($spacers, 1), 2);;
  padding-right: nth(nth($spacers, 1), 2);;
  background-color: red;
  color: white;
  border-radius: 30px;
  font-size: 12px;

}


