@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

input[type=range] {
    margin: 0;
    outline: none;
    height: 2px;
    padding: 0;

    &:focus, &:hover {
        outline: none;
        box-shadow: none;
        background: $red;
    }
}

input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  &:hover{
    background: $red;
  }

}

input[type=range]::-webkit-slider-thumb {
    background-color:$white;
    width: $custom-range-thumb-width;
    height: $custom-range-thumb-height;
    border-radius: $custom-range-thumb-border-radius;
    margin-top: -8px;
    box-shadow: $custom-range-thumb-box-shadow;
  }
  
input[type=range]::-moz-range-thumb {
  background-color:$white;
  width: $custom-range-thumb-width;
  height: $custom-range-thumb-height;
  border-radius: $custom-range-thumb-border-radius;
  box-shadow: $custom-range-thumb-box-shadow;
}

input[type=range]::-ms-thumb {
  background-color:$white;
  width: $custom-range-thumb-width;
  height: $custom-range-thumb-height;
  border-radius: $custom-range-thumb-border-radius;
  box-shadow: $custom-range-thumb-box-shadow;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: $custom-range-track-cursor;
  width: $custom-range-track-width;
  background-color: $red;
  height: 2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: $red;
  height: 2px;
}

input[type=range]::-ms-track {
  background-color: $red;
  height: 2px;
}