@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

%adjustcontainer{
  margin-right: -#{nth(nth($spacers, 5), 2)};
  margin-top: -17px;
  margin-bottom: -17px;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.columnCardImageContainer{
  flex: 1 1 50%;
  box-sizing: border-box;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend %adjustcontainer;
}




