@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';

.publicFooter{
    padding: nth(nth($spacers, 6),2);
    display: flex;
    color: $white;
}

.footerMobile{
    align-items: center;
    display: none;
    padding: nth(nth($spacers, 4),2);
}

@media screen and (max-width: nth(nth($grid-breakpoints,4),2)){
    .footerDesktop{
      display: none;
    }
  
    .footerMobile{
      display: flex;
    }  
}