
@import "node_modules/bootstrap/scss/functions";
@import '../scss/variables';


.component{
  padding: nth(nth($spacers, 6), 2);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 509px;
  max-width: 264px;


  img{
    margin-bottom: nth(nth($spacers, 6), 2);
  }

  p{
    margin-bottom: nth(nth($spacers, 3), 2);
    font-weight: bold;
  }

  .description{
    font-size: $note-font-size;
    line-height: 1.5rem;
    margin-bottom: nth(nth($spacers, 5), 2);
  }

  .buttonSection{
    display: flex;
    justify-content: center;

   
  }
}